<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    {% include 'system/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='system/admin/css/other/console1.css') }}"/>

    <!-- 主 题 更 换 -->
    <style id="pearadmin-bg-color">

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 使用视口高度使其居中 */
        }

        .welcome-message {
            text-align: center;
        }
    </style>
</head>
<body class="pear-container">
<div class="container">
    <div class="welcome-message">
        <h2>欢迎使用车牌识别系统</h2>
    </div>
</div>
</body>
<!--</div>-->
{% include 'system/common/footer.html' %}
<script>
    layui.use(['layer', 'echarts', 'element', 'count'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            element = layui.element,
            count = layui.count,
            echarts = layui.echarts

        count.up('value1', {
            time: 4000,
            num: 440.34,
            bit: 2,
            regulator: 50
        })

        count.up('value2', {
            time: 4000,
            num: 236.30,
            bit: 2,
            regulator: 50
        })

        count.up('value3', {
            time: 4000,
            num: 634.43,
            bit: 2,
            regulator: 50
        })

        count.up('value4', {
            time: 4000,
            bit: 2,
            num: 373.23,
            regulator: 50
        })

        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden')

        var option = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: [{
                type: 'category',
                data: ['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
                axisLine: {
                    lineStyle: {
                        color: '#999'
                    }
                }
            }],
            yAxis: [{
                type: 'value',
                splitNumber: 4,
                splitLine: {
                    lineStyle: {
                        type: 'dashed',
                        color: '#DDD'
                    }
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#333'
                    },
                },
                nameTextStyle: {
                    color: '#999'
                },
                splitArea: {
                    show: false
                }
            }],
            series: [{
                name: '课时',
                type: 'line',
                data: [23, 60, 20, 36, 23, 85],
                lineStyle: {
                    normal: {
                        width: 8,
                        color: {
                            type: 'linear',

                            colorStops: [{
                                offset: 0,
                                color: '#A9F387' // 0% 处的颜色
                            }, {
                                offset: 1,
                                color: '#48D8BF' // 100% 处的颜色
                            }],
                            globalCoord: false // 缺省为 false
                        },
                        shadowColor: 'rgba(72,216,191, 0.3)',
                        shadowBlur: 10,
                        shadowOffsetY: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#fff',
                        borderWidth: 10,
                        /*shadowColor: 'rgba(72,216,191, 0.3)',
                        shadowBlur: 100,*/
                        borderColor: '#A9F387'
                    }
                },
                smooth: true
            }]
        }
        echartsRecords.setOption(option)

        window.onresize = function () {
            echartsRecords.resize()
        }

    })
</script>
</body>
</html>